        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a target="_blank" href="https://mariaperegrina.org.br/escola/protagonismo-social">Sobre nós</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a target="_blank" href="https://api.whatsapp.com/send?phone=5517982280123">Contate-nos</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a target="_blank" href="https://mariaperegrina.org.br/quem-somos/protagonismo-social">Missão</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a target="_blank" href="https://mariaperegrina.org.br/social/protagonismo-social">Social</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Missões Maria Peregrina 2024. Todos os direitos reservados</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a target="_blank" href="https://www.facebook.com/escolamariaperegrina.sjrp"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a target="_blank" href="https://api.whatsapp.com/send?phone=5517982280123"><i class="bi-whatsapp fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a target="_blank" href="https://www.instagram.com/escolamariaperegrina.sjrp/"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>