        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand text-primary" href="#">Escola Maria Peregrina</a>
                <a class="btn btn-primary" href="https://mariaperegrina.org.br/" target="_blank">Saiba mais!</a>
            </div>
        </nav>