{{>_nav}}

<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Instrução educacional Escola Maria Peregrina - Time de desenvolvimento</h1>
                    <h5 class="mt-8 text-secondary">Conheça aqueles que abraçaram o projeto!</h6>
                    <div class="mt-5">
                        {{#if resultado}}
                            {{#each resultado}}
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title text-primary">{{this.email}}</h5>
                                    </div>
                                </div>
                            {{/each}}
                        {{else if error}}
                            {{#each error}}
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <p class="card-text text-danger">{{this}}</p>
                                    </div>
                                </div>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{{>_footer}}
