        {{>_nav}}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Instrução educacional Escola Maria Peregrina - Time de desenvolvimento</h1>
                        <form class="form-subscribe" id="contactForm" method="POST" action="/form">
                            <!-- Email address input-->
                            <div class="row">
                                <div class="col">
                                    <input class="form-control form-control-lg" name="emailAddress" id="emailAddress" type="email" placeholder="Entre em contato comigo..." required />
                                    <div class="invalid-feedback text-white">Por favor, insira um endereço de e-mail válido.</div>
                                </div>
                                <div class="col-auto"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Enviar</button></div>
                            </div>
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Cadastro realizado com sucesso!</div>
                                    <p>Mandei um email para você que quer conhecer sobre os meus projetos!</p>
                                    <a class="text-white mb-5" href="https://github.com/SrHut27/">Protifólio Gabriel Ribeiro de Freitas -> Clique em mim!</a>
                                </div>
                            </div>
                            {{#if messages}}
                                    {{#each messages}}
                                        {{this}}
                                    {{/each}}
                            {{/if}}
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Erro ao enviar mensagem!</div></div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                            <h3>Aprenda desenvolvimento web</h3>
                            <p class="lead mb-0">O projeto engloba todos os conhecimentos necessários para ser um dev fullstack</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3>Aprofunde o conhecimento</h3>
                            <p class="lead mb-0">Não fique em águas rasas! Mergulhe no conhecimento de lógica de programação e requisições web</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                            <h3>Aplique e reaplique, aprenda e reaprenda</h3>
                            <p class="lead mb-0">Aprenderemos diversas tecnologias, para adaptarmos sempre, independente da ferramenta.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-suco.png')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Projeto Suco Maria Peregrina</h2>
                        <p class="lead mb-0">Fazer um sistema completo de recuperação e tratamento de leads e tentar automatizá-lo. Após isso, fazer um site e-commerce ligado às entregas do produto e confirmação automática de entregas.</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/bg-brecho.png')"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Brechó Maria Peregrina</h2>
                        <p class="lead mb-0">Eu ainda não sei qual vai ser o sistema desenvolvido para o Brechó preciso de ideias muito obrigado.</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-nota.png')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Nota Fiscal Paulista</h2>
                        <p class="lead mb-0">Criar um sistema de consulta e filtro eficaz, rápido e interativo, para vizualizar de forma objetiva o resultado ca campanha da nota. Após isso, tentar vetorizar os resultados através de gráficos</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">Conheça a coordenação</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="assets/img/bg-here.png" alt="..." />
                            <h5>Rogério Fischer Duque</h5>
                            <p class="font-weight-light mb-0">Responsável pelo projeto e representante da Escola Maria Peregrina</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="assets/img/bg-fabrizio.png" alt="..." />
                            <h5>Professor Fabrízio</h5>
                            <p class="font-weight-light mb-0">Criador do projeto, responsável pelas equipes e sabe das coisas</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-1.jpg" alt="..." />
                            <h5>Sarah W.</h5>
                            <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to Action-->
        <section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <h2 class="mb-4">Te convenci a participar desse projeto? Não? Então deixe seu email que vou te convencer agora!</h2>
                                <form class="form-subscribe" id="contactForm" method="POST" action="/form">
                            <!-- Email address input-->
                            <div class="row">
                                <div class="col">
                                    <input class="form-control form-control-lg" name="emailAddress" id="emailAddress" type="email" placeholder="Entre em contato comigo..." required />
                                    <div class="invalid-feedback text-white">Por favor, insira um endereço de e-mail válido.</div>
                                </div>
                                <div class="col-auto"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Enviar</button></div>
                            </div>
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Cadastro realizado com sucesso!</div>
                                    <p>Mandei um email para você que quer conhecer sobre os meus projetos!</p>
                                    <a class="text-white mb-5" href="https://github.com/SrHut27/">Protifólio Gabriel Ribeiro de Freitas -> Clique em mim!</a>
                                </div>
                            </div>
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Erro ao enviar mensagem!</div></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {{>_footer}}
